p, h1, h2, h3, h4, h5, h6, a, div, body, table, input {
	font-family: Arial;
	font-weight: normal;
	font-size: 13px;
	color: #000000;
}

body {
	background-color: #AAAAAA;
}

input, textarea, checkbox {
  background-color : #CCCCCC; 
}

h1 {
	font-weight: bold;
	font-size: 18px;
}

h7 {
	font-size: 12px;
}

table {
	empty-cells: hide;
	border-collapse:collapse;
	}

td {
	text-align:left;
	vertical-align:left;
	border-style:none;
	border-width:1px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
}

a, h2 a:hover, h3 a:hover {
	color: #06c;
	text-decoration: none;
	}

a:hover {
	color: #147;
	text-decoration: none;
	}

li {
	list-style-type: none;
	list-style-image: none;
	margin: 0px;
	}
	
.tc {
	text-align:center;
	border-style:none;
	border-width:1px;
	padding-left:3px;
	padding-right:3px;
	padding-top:3px;
	padding-bottom:3px;
}	



